twitter:
    consumer_key:    ""
    consumer_secret: ""
    token:           ""
    secret:          ""

settings:
    status:
        time: "19:00"
    reset:
        time: "20:30"
        day: "thursday"
    invitation:
        time: "12:00"
        day: "monday"
        event_count: 2

aliases:
    twitter_nick_1: "alias 1"
    twitter_nick_2: "alias 2"
