%h1 Befehle

%table
	%tr
		%th Typ
		%th Tweet
		%th Einschränkungen
		%th Beschreibung
	
	%tr
		%td Zusage
		%td.monospace @sneaker_bot ja
		%td -
		%td
			Sagt für die kommende Sneak zu.
			%br/
			Ersetzt vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Zusage mit PSP
		%td.monospace @sneaker_bot ja psp
		%td -
		%td
			Sagt für die kommende Sneak sowie das Prä-Sneak-Programm zu.
			%br/
			Ersetzt vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Zusage mit Freunden
		%td.monospace @sneaker_bot ja +2
		%td -
		%td 
			Sagt für die kommende Sneak mit zwei (dem Bot unbekannten) Freunden zu.
			%br/
			Ersetzt vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Absage
		%td.monospace @sneaker_bot nein
		%td -
		%td
			Sagt wieder ab.
			%br/
			Ersetz vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Automatischer Status
		%td.monospace @sneaker_bot auto $tweet
		%td -
		%td
			Setzt $tweet als Standardwert, der wöchentlich beim Start einer neuen Sneak-Runde abgearbeitet wird.
			%br/
			Beispiel:
			%span.monospace @sneaker_bot auto ja psp
	
	%tr
		%td Status-Abfrage
		%td.monospace @sneaker_bot status
		%td -
		%td
			Fordert den Bot auf, den aktuellen Status auszugeben.
	
	%tr
		%td Interner Tweet
		%td.monospace  @sneaker_bot set $user $tweet
		%td Admins
		%td
			Verarbeitet $tweet intern so, als wäre er von $user eingetragen worden.
			%br/
			Beispiel:
			%span.monospace @sneaker_bot set fabianonline ja
	
	%tr
		%td Alias
		%td.monospace @sneaker_bot set $user alias $name
		%td Admins
		%td
			Ändert den Alias von $user zu $name.
			%br/
			Beispiel:
			%span.monospace @sneaker_bot set fabianonline alias Fabian
	
	%tr
		%td Bonusstempelzahl
		%td.monospace @sneaker_bot set $user bonus=$zahl
		%td Admins
		%td
			Setzt den Bonusstempelzähler von $user auf $zahl.
			%br/
			Beispiel:
			%span.monospace @sneaker_bot set fabianonline bonus=3
	
	%tr
		%td Reservierungen
		%td.monospace @sneaker_bot reservierung $nummern
		%td Admins
		%td
			Trägt die Reservierungen nach $nummern ("anzahl"x"nummer") ein.
			Bereits eingetragene Reservierungen für die aktuelle Sneak werden gelöscht.
			%br/
			Beispiel:
			%span.monospace @sneaker_bot reservierung 7x1356 3x8539
	%tr
		%td Sneak-Modus
		%td.monospace @sneaker_bot sneak $attribute
		%td Admins
		%td
			Ändert die Attribute der Sneak. Derzeit unterstützt:
			%ul
				%li bonus_points - Anzahl der Bonuspunkte, die bei einer Teilnahme an dieser Sneak vergeben werden.
				%li variant - Variante. Derzeit sind "single" und "double" vergeben. Bei "double" werden keine Bonuskarten akzeptiert.
			Es müssen nicht alle Attribute auf einmal gesetzt werden.
			%br/
			Beispiel:
			%span.monospace @sneaker_bot sneak bonus_points=1 variant=single

Bei den Admin-Befehlen bitte beachten:
%span.monospace $user
bezeichnet immer den aktuellen Twitter-Namen des Users, nicht seinen Alias!